.root button {
    background: var(--secondary);
    border-radius: 50px;
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--accent);
    color: var(--text);
    line-height: 1;
}

.root button:hover,
.root button:focus-visible {
    border-color: var(--primary);
    outline: none;
}
